.input-container {
  position: relative;
  width: 100%;
  .search-input {
    padding-right: 35px;
  }
  .close-icon {
    position: absolute;
    top: 11px;
    right: 60px;
    z-index: 5;
  }
  .search-icon {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
}
