@media (max-width: 991px) {
  .banner {
    background-position-x: 70%;
  }
  .ReactModal__Content {
    max-width: 90vw !important;
  }
}

@media (max-width: 575px) {
  .banner {
    background-position-x: 74%;
  }
}

@media (min-width: 992px) {
  .main-layout {
    filter: blur(0);
  }
}
